div.table {
    display: table;
}
div.tr {
    display: table-row;
}
div.td {
    display: table-cell;
}
div.label{
    text-align: right;
}
/* remove this line for full credit */
div.heading {
    display: table-row;
    font-weight: bold;
    text-align: center;
}
div.row
{
    display: table-row;
}
div.cell
{
    display: table-cell;
    border: solid;
    border-width: thin;
    padding-left: 5px;
    padding-right: 5px;
    vertical-align: middle;
}