<html>
  <head>
    {% if title %}
      <title>KJV Bible - {{ title }}</title>
    {% else %}
      <title>KJV Bible</title>
    {% endif %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}" />
  </head>
  <body>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
          {% for message in messages %}
            <!-- remove this line for full credit -->
            <li style="color:red">{{ message }} </li>
          {% endfor %}
        </ul>
        <hr>
      {% endif %}
    {% endwith %}
    <div>
      <a href="/index">Home</a> {% if g.user.is_authenticated: %}<a style="padding-left:100px" href="/bookmarks">Bookmarks</a> <a style="padding-left:100px" href="/logout">Logout</a> {% else %} <a style="padding-left:100px" href="/login">Login</a>  {% endif %}
    </div>
    <hr>
    {% block content %}{% endblock %}
  </body>
</html>
