<!--

     This template renders the index page for the KJV project. It renders
     all of the books of the Bible as a 12x6 grid.

     This template expects at least one variable to be passed to it:

       table: this needs to be a list of lists of the form

         [ [('ge','Genesis), ('ex','Exodus'), ('nu','Numbers'), ...],
           [('jg','Judges'), ('ru','Ruth'), ... ],
           ...
           [('3jo','3 John'), ('jude','Jude'), ('re','Revelation')] ]
           
     Hint: The kjv module has a variable kjv.grid that would be a good
     fit for this variable.

-->

<!-- extend base layout -->
{% extends "base.html.j2" %}

{% block content %}
  {% if table %}
    <table border="1">
      {% for row in table: %}
        <tr>
          {% for abbrev,full in row: %}
            <td style="padding:5px">
              <a href="/book/{{ abbrev }}">{{ full }}</a>
              <!-- remove this line for full credit -->
            </td>
          {% endfor %}
        </tr>
      {% endfor %}
    </table>
  {% endif %}
{% endblock %}
