<!-- extend base layout -->
{% extends "base.html.j2" %}

{% block content %}
  <h1>Sign In</h1>
  <form action="" method="post" name="login">
    {{ form.hidden_tag() }}
    <div class="login_block">
      Please enter your user information:
      <br/>
      <div class="table">
        <div class="tr">
          <div class="td label">Username:</div>
          <div class="td">{{ form.nickname(size=30) }}</div>
        </div>
        <div class="tr">
          <div class="td label">Email:</div>
          <!-- remove this line for full credit -->
          <div class="td">{{ form.email(size=30) }}</div>
        </div>
      </div>
    </div>
    <br/>
    <div class="tr">
      <div class="td label">Remember Me:</div>
      <div class="td">{{ form.remember_me }}</div>
    </div>
    <p><input type="submit" value="Sign In"></p>
  </form>
{% endblock %}
