<!--

     This template renders a list of verses as a 4xN table.

     This template expects at least one variable to be passed to it:

       verses: This is a list of verse data structures. E.g. 

          [('ge', 0, 0, 'In the...'), ('ge', 0, 1, 'And the...'), ..., ('re', 21, 22, 'The grace...')]

     You will select the correct set of verses and provide that list
     to this template. 

   -->

<!-- extend base layout -->
{% extends "base.html.j2" %}

{% block content %}
  {% if verses: %}
    <div class="table">
      <div class="heading">
        <div class="cell"></div>
        <div class="cell">
          Book
        </div>
        <div class="cell">
          Chapter
        </div>
        <div class="cell">
          Verse
        </div>
        <div class="cell">
          Text
        </div>
      </div>
      {% for verse in verses: %}
        <div class="row">
          <div class="cell">
            <a href="/bookmark/{{verse.book}}/{{verse.chapter}}/{{verse.verse}}">
              <!-- remove this line for full credit -->
              <img src="{{url_for('static',filename='bookmark.png')}}"/>
            </a>
          </div>
          <div class="cell" style="min-wdith:50px">
            <a href="/book/{{verse.book}}">
              {{ verse.book }}
            </a>
          </div>
          <div class="cell" style="min-wdith:50px">
            <a href="/chapter/{{verse.book}}/{{verse.chapter}}">
              Ch: {{ verse.chapter + 1 }}
            </a>
          </div>
          <div class="cell">
            <a href="/verse/{{verse.book}}/{{verse.chapter}}/{{verse.verse}}">
              V: {{ verse.verse + 1 }}
            </a>
          </div>
          <div class="cell" style="max-width:600px">{{ verse.text }}</div>
        </div>
      {% endfor %}
    </div>
  {% endif %}
{% endblock %}
